@model IEnumerable<ProjectPastelV2.Models.Preference>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PreferenceDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preference1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preference2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preference3)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PreferenceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preference1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preference2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preference3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PreferenceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PreferenceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PreferenceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
